/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    color: rgb(0, 0, 0);
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroTitle {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
/* img {
  max-width: 100%;
  height: auto;
} */


img[alt=Oats] { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
img[alt=pasta] { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img[alt=dessert] { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

img[alt=lunch] { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
img[alt=pudding] { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
} 
img[alt=cristy] {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
} 

img[alt=Image3] { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
} 
:root {
  --light-text-color: #333;
  --dark-text-color: #eee;
}

.landing-section h1, .landing-section h2, .landing-section p {
  color: var(--light-text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--dark-text-color);
  }
}

.landing-section {
  padding: 2rem 0;
  text-align: center;
}